twine==3.4.1
Django==4.2.27
django-jinja==2.7.0
unittest2==1.1.0
wheel==0.36.2
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
